<br>
<ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<!-- login Page session-------------------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col">

    </div>


    <div class="col">
        <div class="card">

            <h2  class="loginTitle" > <i class="bi bi-box" style="color:aqua;"></i> Login  </h2>
            <hr>

            <div class="card-body">

                <form action="" [formGroup]="loginForm">

                    <label for="">UserName</label>
                   
                    <br>
                    <input type="text" formControlName="username" email="true" placeholder="Enter Email" class="form-control textBox">

                    <br>
            
                    <label for="">Password</label>
                    <br>    
                    
                 
                    <input type="password" formControlName="password"  placeholder="EnterPassword" class="form-control textBox">
                    <br>
                    <div>

                        <a href=""><i class="bi bi-key"></i> Forgot Password</a>
                    </div>

                
                    <br>
                    <div class="text-center button">

                        <button class="btn btn-success" type="submit">Login</button>
                        <button class="btn btn-primary">Create Account</button>

                    </div>
                    
                </form>

            </div>
        </div>
    </div>



    <div class="col">

    </div>
</div>