<br>
<ul class="background">
    <li><img src="/assets/images/gif/scr.gif" alt=""></li>
    <li></li>
    <li><img src="/hotstar/src/assets/images/" alt=""></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<!-- login Page session-------------------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col">

    </div>


    <div class="col">
        <div class="card">

            <h2  class="loginTitle" > <i class="bi bi-box" style="color:aqua;"></i> Login  </h2>
            <hr>

            <div class="card-body">

                <form action="" [formGroup]="loginForm">

                    <label for="">UserName</label>
                   
                    <br>
                    <input type="email" formControlName="username" email="true" placeholder="Enter Email" class="form-control textBox"
                    [ngClass]="{'is-invalid': submitted && loginForm.controls['username'].errors}">

                    <small class="smallText" *ngIf="submitted && loginForm.controls['username'].errors?.required">Fill Your registerd Email</small>
                    <small class="smallText" *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].errors?.email">Enter valid User Email</small>
              

                    <br>
            
                    <label for="">Password</label>
                    <br>    
                    
                 
                    <input type="password" formControlName="password"  placeholder="EnterPassword" class="form-control textBox"
                    [ngClass]="{'is-invalid':submitted && loginForm.controls['password']}" >

                    <small class="smallText" *ngIf="submitted && loginForm.controls['password'].errors?.required">Fill your password</small>

                    <small class="smallText" *ngIf="loginForm.controls['username'].touched && loginForm.controls['password'].errors?.minlength">Password must be 6 character</small>
                    

                    <br>
                    <div>

                        <a href=""><i class="bi bi-key"></i> Forgot Password</a>
                    </div>

                
                    <br>
                    <div class="text-center button">

                        <button class="btn" type="submit" (click)="submit()">Login</button>
                        <button class="btn">Create Account</button>

                    </div>
                    
                    
                </form>

            </div>
        </div>
    </div>



    <div class="col">

    </div>
</div>