@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #04051b;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    // border: solid aqua 1px;
    // box-shadow: 0 4px 8px 0 rgba(93, 194, 238, 0.541), 0 6px 20px 0 rgba(40, 188, 229, 0.531);
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 52%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 53%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 9%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    background-color: transparent;
    left: 40%;
    width: 150px;
    height: 150px;
    bottom: -150px;
    animation-delay: 13s;
}
.background li:nth-child(4) {
    left: 1%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 10s;
}
.background li:nth-child(5) {
    left: 69%;
    width: 199px;
    height: 199px;
    bottom: -199px;
    animation-delay: 19s;
}
.background li:nth-child(6) {
    background-color: transparent;
    left: 35%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 1s;
}
.background li:nth-child(7) {
    left: 56%;
    width: 137px;
    height: 137px;
    bottom: -137px;
    animation-delay: 11s;
}
.background li:nth-child(8) {
    left: 74%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 36s;
}
.background li:nth-child(9) {
    left: 72%;
    width: 124px;
    height: 124px;
    bottom: -124px;
    animation-delay: 27s;
}
// -- card -----------------------------------------------------------------------------------------------------------------------------------------------------------

.card{

    background-color: #1218624c;
    color: azure   ;
    // text-align: center;
    box-shadow: aqua;
    font-family: "Roboto";
    padding: 5%;
    font-size: small;
    border: solid aqua 1px;
    box-shadow: 0 4px 8px 0 rgba(93, 194, 238, 0.541), 0 6px 20px 0 rgba(40, 188, 229, 0.531);
}
hr{
    color: rgb(2, 255, 255);
    background-color: aqua;

}
.textBox{
    background-color: transparent;
    color:aqua;
    border-color: aqua;
    // padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: small;
}
label{
    text-align: left;
    padding: 1%;
}
.loginTitle{
    text-align: center;
    // padding: 5px;
    // padding-top: 10px;  

}
// button{
    
//     margin: 2%;
//     // background-color: transparent;
//     border: solid 1px aqua;
//     color: aqua;
//     font-size: small;

// }
// button:hover
// {
//     background-color: aqua;
//     color: rgb(6, 4, 17);
//     // font-size: medium;
// }
a {
    text-decoration: none;
    color: aqua;
}
// --------------------validation-------------------------------------
.is-invalid{
    border-color:red;
    box-shadow: 0 4px 8px 0 rgba(235, 12, 12, 0.291), 0 6px 20px 0 rgba(235, 6, 6, 0.452);

}
.smallText{
    color: #b4ff06;
}



// button effect s-------------------

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.btn{
    position: relative;
    display: inline-block;
    padding: 8px 10px;
    // margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    // margin-right: 50px;

        margin: 2%;
    // background-color: transparent;
    // border: solid 1px aqua;
    // color: aqua;
    font-size: small;
   
}
.btn:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.btn:nth-child(1){
    filter: hue-rotate(280deg);
    // color: #000;
}
.btn:nth-child(2){
    filter: hue-rotate(110deg);
}
.btn span{
    position: absolute;
    display: block;
}
.btn span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.btn span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}